* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    padding: 0;
}

/* Nav for Phone */
    #menu-toggle {
        opacity: 0;
    }

    #menu-toggle:checked + .menu-btn > span{
        transform: rotate(45deg);
    }

    #menu-toggle:checked + .menu-btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu-toggle:checked + .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu-toggle:checked ~ .menu{
        left: 0 !important;
    }

    .menu-btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 10;
    }

    .menu-btn > span, .menu-btn > span::before, .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #7209B7;
        transition-duration: .25s;
    }

    .menu-btn > span::before {
        content: '';
        top: -8px;
    }

    .menu-btn > span::after {
        content: '';
        top: 8px;
    }

    .menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: white;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 3;
    }

    .menu-item {
        display: block;
        padding: 12px 24px;
        font-family: system-ui, sans-serif;
        font-size: 1.25em;
        font-weight: 700;
        text-decoration: none;
        transition-duration: .25s;
        color: black;
    }

/*Index*/
header {
    text-align: right;
}

/*Images*/
.cover {
    width: 50%;
    margin-top: .5em;
    margin-right: .5em;
}

.cover-image {
    width: 100%;
}

/*text*/
.header-text {
    text-align: center;
}

.header-text h6 {
    color: white;
    font-family: system-ui, sans-serif;
    font-size: .75em;
}

/*Top Projects*/
body h3 {
    color: white;
    font-family: system-ui, sans-serif;
    padding-left: 15%;
    padding-top: 5%;
}

.index-section {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 0;
}

.proj-image {
    width: 70%;
}

.MTitle {
    color: white;
    font-family: system-ui, sans-serif;
    padding-bottom: 1em;
    font-size: small;
    font-weight: 400;
}

/*Download*/
.downloadText {
    margin-top: 3em;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    border-bottom: 2px solid white;
    margin: 5%;
    font-family: system-ui, sans-serif;
    font-size: large;
}

.btn {
    margin-top: 3%;
    font-size: .6em;
    background-color: #7209B7;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 30%;
    font-weight: 600;
    border-radius: 30px;
    margin-left: 37%;
    text-align: center;
    color: white;
    font-family: system-ui, sans-serif;
}

.btn a {
    font-size: 1em;
    font-weight: 600;
    color: white;
    font-family: system-ui, sans-serif;
    text-decoration: none;
}

/*About*/
.about-text {
    font-family: system-ui, sans-serif;
    text-align: right;
    color: white;
    font-weight: 800;
    margin-right: 5%;
    font-size: x-large;
    margin-top: 1em;
    margin-bottom: 1em;
}

.description1 {
    color: white;
    font-size: .75em;
    font-family: system-ui, sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}

.a-desc{
    color: #aa60dc;
    font-family: system-ui, sans-serif;
}

/*Skills*/
.grid-container-skills {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5%;
    margin-left: 10%;
    margin-right:  10%;
}

.skills-container h4 {
    color: white;
    font-family: system-ui, sans-serif;
}

.skill-list{
    color: white;
    font-family: system-ui, sans-serif;
    list-style: disc;
    margin: 3%;
    margin-left: 15%;
    font-size: .75em;
}

.skill-list ol li{
    color: white;
    font-family: system-ui, sans-serif;
    list-style: circle;
    list-style-position: inside;
}

ol{
    font-size: small;
}

li{
    font-size: small;
}

.aboutsubtitle {
    color: white;
    font-family: system-ui, sans-serif;
    padding-left: 10%;
    margin-top: 2em;
    margin-bottom: 0;
}

/*Timeline*/
.timeline {
    position: relative;
    max-width: 100%;
    margin: auto 10%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 7%;
    margin-left: -3px;
    z-index: -2;
}

.containerT {
    padding: 2% 2%;
    position: relative;
    background-color: inherit;
    width: 100%;
    padding-left: 20%;
    padding-right: 5%;
    z-index: -1;
}

.containerT::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    border: 4px solid #3bf4fb;
    top: 5%;
    border-radius: 50%;
    z-index: -1;
}

.left {
    left: 0;
}

.right {
    left: 0%;
}

.right::after, .left::after {
    left: 15px;
}

.timeline-text {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    font-family: system-ui, sans-serif;
}

.timeline-H3text{
    color: black;
    padding: 0;

}

/*Contact*/
.contactsubtitle {
    color: white;
    font-family: system-ui, sans-serif;
    padding-left: 10%;
    margin-bottom: 0;
    margin-top: 5%;
}

.btn2 {
    font-size: .9em;
    width: 30%;
    font-weight: 600;
    border-radius: 30px;
    margin-left: 40%;
    padding: 2%;
    background-color:#aa60dc;
    color: white;
    border-color: #aa60dc;
}

.my-info {
    margin-top: 15%;
}

.my-info a{
    color: white;
    font-size: small;
    margin-left: 10%;
    text-decoration: none;
}

.my-info p {
    font-family: system-ui, sans-serif;
    font-size: small;
}

.contact-text {
    color: white;
    font-family: system-ui, sans-serif;
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: small;
}

input[type=text], input[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin: 10%;
    margin-top: 0;
    margin-bottom: 3%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
}

textarea {
    width: 53%;
    border: 2px solid white;
    background-color: transparent;
    margin-right: 7%;
    color: white;
}

label {
    color: white;
    font-family: system-ui, sans-serif;
    margin: 10%;
    margin-top: 2%;
    font-size: small;
}

/*Projects*/
.chang-image {
    width: 60%;
    margin-top: 3em;
    margin-left: 20%;
}

.projGrid-container1{
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 0;
}

.projectSubtitle{
    color: white;
    font-family: system-ui, sans-serif;
    font-size: medium;
    margin-left: 15%;
    margin-top: 3em;
}

.projectsCaption{
    color: white;
    font-family: system-ui, sans-serif;
    margin-left: 20%;
}

.TPTitle {
    color: white;
    font-family: system-ui, sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin-left: 8%;
    padding: 1em;
    margin-top: 1em;
}

/*RemDose*/
.rem-container{
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 0;
    text-align: center;
}

.topimage, .topimage2{
    width: 70%;
}

.remtextsubtitle {
    color: white;
    font-family: system-ui, sans-serif;
    font-size: .75em;
    text-align: left;
    font-weight: 800;
    margin-left: 8%;
    margin-top: .7em;
}

.remtext {
    color: white;
    font-family: system-ui, sans-serif;
    font-size: .75em;
    text-align: left;
    margin-left: 15%;
}

.remtext ol {
    color: white;
    font-family: system-ui, sans-serif;
    list-style: circle;
    list-style-position: inside;
}

.remtext ul {
    list-style: disc;
}

.remtext .insideList li{
    list-style:inside;
    margin-left: 1em;
}

.mockupImage{
    width: 30%;
    margin-top: 1em;
}

.typeimage{
    width: 80%;
}

.projLink{
    text-decoration: none;
}

/*Posters*/
.grid-containerPosters {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5%;
}

.logoC {
    width: 70%;
    margin-bottom: 10%;
    margin: 7%;
    margin-top: 25%;
}

.design-Logo {
    border: 1.5px solid white;
    border-radius: 5px;
    font-family: system-ui, sans-serif;
    color: white;
    font-size: x-small;
    font-weight: 600;
    padding: 1%;
    width: 20%;
    height: 110%;
    text-align: center;
    margin-left: 7%;
}

/*footer*/
footer {
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}

footer li {
    display: inline;
    padding: 0;
    font-family: system-ui, sans-serif;
    text-align: center;
}

footer li p a, footer li p{
    display: inline-block;
    font-family: system-ui, sans-serif;
    color: white;
    text-decoration: none;
    font-family: system-ui, sans-serif;
}

footer p {
    color: white;
    font-weight: 400;
    font-size: .6em;
    text-align: center;
    font-family: system-ui, sans-serif;
}


/* Style specifies to display the desktop class */
.desktop {
	display: none;
}

/*DESKTOP*/
@media only screen and (min-width: 1000px){

    /*Main*/
    nav ul{
        text-align: center;
        padding-top: 2em;
    }

	nav li{
        display: inline;
		padding: 0;
        font-family: system-ui, sans-serif;
        text-align: center;
	}
	
	nav li a{
		display: inline-block;
		padding: 0.7em;
        color: white;
        text-decoration: none;
        font-weight: 600;
	}

    nav li a:hover{
        border-bottom: 2px solid white;
	}

    /*Header*/
        /*Images*/
        header {
            text-align: center;
        }

        .cover {
            width: 35%;
            position: absolute;
            top:auto;
            left: 800px;
        }

        .cover-image {
            width: 75%;
        }

        /*text*/
        .header-text {
            text-align: left;
        }

        .header-text h3 {
            color: white;
            font-family: system-ui, sans-serif;
            padding-left: 0%;
            padding-top: 0%;
            margin-left: 9em;
            margin-top: -3em;
        }

    /*Top Projects*/
    body h1 {
        color: white;
        font-family: system-ui, sans-serif;
        padding-left: 10%;
        margin-top: 2em;
        margin-bottom: -2em;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 5%;
        margin: 4%;
        margin-bottom: -10em;
    }

    .proj-image {
        width: 100%;
        border-radius: 20%;
    }

    /*cards*/
    .card {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: minmax(100%, 1fr);
        grid-template-areas: "stack";
        overflow: hidden;
        border-radius: 20%;
    }

    .card > img, 
    .card > figcaption {
        grid-area: stack;
        margin: 2%;
        
    }

    .card > img {
        width: 96%;
        object-fit: cover;
    }

    .card > figcaption {
        grid-area: stack;
        background-color: white;
        transform: translateY(calc(100% - 4rem));
        transition: transform 600ms;
        border-radius: 20%;
    }
 
    .card > figcaption > .cardtitle {
        height: 4rem;
        margin: 0;
        padding-left: 0;
        padding-top: 2em;
        padding-bottom: 3em;
        margin-top: -1em;
        font-size: larger;
        color: black;
    }

    .card:hover figcaption {
        transform: none;
    }

    .card > figcaption > .card_subtitle {
        font-style: italic;
        margin-bottom: 1em;
        font-family: system-ui, sans-serif;
    }

    .card > figcaption > .card_description {
        margin-bottom: 2em;
        font-family: system-ui, sans-serif;
    }

    .card > figcaption a {
        color: white;
        font-family: system-ui, sans-serif;
    }

    .card > figcaption a:link {
        text-decoration: none; 
        border: 2px solid #aa60dc;
        border-radius: 15px;
        background-color: #aa60dc;
        padding: 1em;
        color: white;
    }

    /*Download*/
    section .downloadText {
        margin-bottom: 20px;
        font-size: x-large;
    }

    .btn {
        font-size: 1em;
        background-color: #7209B7;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-left: 35%;
    }

    /*About*/
    .about-text {
        font-size: xxx-large;
        margin-top: 0;
        margin-bottom: 0;
    }

    .description1 {
        font-size: 1.1em;
    }

    /*Skills*/
    ol{
        font-size: medium;
    }

    li{
        font-size: medium;
    }

    /*Timeline*/
    .timeline {
        position: relative;
        max-width: 100%;
        margin: auto 10%;
    }
    
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    .containerT {
        padding: 2% 2%;
        position: relative;
        background-color: inherit;
        width: 50%;
    }

    .containerT::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: black;
        border: 4px solid #3bf4fb;
        top: 5%;
        border-radius: 50%;
        z-index: 2;
        left: 96%;
    }

    .left {
        left: 0;
    }

    .right {
        left: 50%;
    }

    .right::after {
        left: -16px;
    }

    /*Contact*/
    .contactsubtitle {
        color: white;
        font-family: system-ui, sans-serif;
        padding-left: 10%;
        margin-bottom: 0;
    }

    .btn2 {
        font-size: .9em;
        width: 10%;
        font-weight: 600;
        border-radius: 30px;
        margin-left: 40%;
        padding: 1%;
        background-color:#aa60dc;
        color: white;
        border-color: #aa60dc;
    }
    
    .my-info {
        margin-top: 5%;
    }
    
    .my-info a{
        color: white;
        font-size: medium;
        margin-left: 10%;
        text-decoration: none;
    }
    
    .my-info p {
        margin-top: 4em;
        font-family: system-ui, sans-serif;
    }

    .contact-text {
        font-size: medium;
    }

    label {
        font-size: medium;
    }
    
    /*Projects*/
    .chang-image {
        width: 70%;
    }

    .projGrid-container1{
        display: grid;
        grid-template-columns: auto auto auto;
        margin-bottom: 0;
    }

    .projectSubtitle{
        font-size: x-large;
        margin-left: 0;
        margin-top: 1em;
        margin-bottom: .5em;
    }
    .container1{
        position: relative;
        width: 70%;
    }

    .TPTitle {
        font-size: xxx-large;
        margin-left: 11%;
        padding-top: .5em;
        padding-bottom: .5em;
        margin-top: 0;
    }

    /*RemDose*/
    .rem-container{
        display: grid;
        grid-template-columns: auto auto;
        margin-bottom: 0;
        text-align: left;
    }

   .topimage{
       width: 50%;
       margin-left: 10%;
   }

   .topimage2{
    width: 40%;
    margin-left: 15%;
}

    .remtextsubtitle {
        font-size: large;
        font-weight: 800;
        margin-top: .7em;
        padding-left: 7em;
        margin-left: -28em;
    }

    .remtext {
        font-size: .85em;
        text-align: left;
        margin-left: 15%;
        margin-left: -27em;
        margin-top: 1em;
    }

    .remtextsubtitle2 {
        color: white;
        font-family: system-ui, sans-serif;
        font-size: large;
        font-weight: 800;
        margin-top: .7em;
        margin-left: 5em;
    }

    .remtext2 {
        color: white;
        font-family: system-ui, sans-serif;
        font-size: medium;
        text-align: left;
        margin-left: 40%;
        margin-left: 12em;
        margin-top: 1em;
    }

    .remtext ol {
        color: white;
        font-family: system-ui, sans-serif;
        list-style: circle;
        list-style-position: inside;
        margin-left: -15em;
    }

    .remtext ul {
        list-style: disc;
    }

    .remtext .insideList li{
        list-style:inside;
        margin-left: 1em;
    }

    .mockupImage{
        width: 20%;
        margin-top: 1em;
    }

    .typeimage{
        width: 80%;
    }
   
    /*Poster*/
    .design-Logo {
        border: 2px solid white;
        border-radius: 5px;
        font-size: small;
        font-weight: 800;
        padding: 1%;
        width: 12%;
        height: 110%;
        text-align: center;
        margin-left: 7%;
    }

    /*footer*/
    footer p {
        font-size: .75em;
    }

    /* Style specifies to display the desktop class */
    .desktop {
	    display: block;
    }

    /* Style specifies to display the mobile class */
    .mobile {
        display: none;
    }
}

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 920px){

    .remtextsubtitle {
        font-size: 1em;
    }
    
    .remtext {
        font-size: 1em;
    }

}
